<main class="home-container">
  <div class="header">
    <h1>Каталог книг</h1>
    <app-book-search [(searchTerm)]="searchTerm"></app-book-search>
  </div>

  @if (bookState().isLoading) {
    <mat-spinner></mat-spinner>
  }
  @if (bookState().error) {
    <div class="error-message">
      Произошла ошибка при загрузке книг: {{ bookState().error.message }}
    </div>
  }
  <div class="books-grid">
    @for (book of filteredBooks(); track book.id) {
      <app-book-card [book]="book"></app-book-card>
    } @empty {
      @if (!bookState().isLoading && !bookState().error) {
        <div class="no-books">Книги не найдены</div>
      }
    }
  </div>
</main>
