.home-container {
  padding: 20px;
}

.header {
  margin-bottom: 20px;
  text-align: center;
}

.books-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(350px, 1fr));
  gap: 30px;
  padding: 10px;
  justify-content: center;
  margin: 0 auto;
  max-width: calc(3 * 350px + 2 * 40px);
}

.error-message {
  color: red;
  padding: 20px;
  text-align: center;
}

.no-books {
  text-align: center;
  grid-column: 1 / -1;
  padding: 40px;
  color: #666;
}
mat-spinner {
  margin: 40px auto; /* Центрируем спиннер */
  animation-duration: 5s; /* Увеличиваем длительность анимации */
}
