<mat-dialog-content>
  <form class="book-form" [formGroup]="createBookForm">
    <div class="form-row">
      <mat-form-field appearance="outline">
        <mat-label>Название</mat-label>
        <input matInput formControlName="title" required>
        <mat-error>Обязательное поле</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Автор</mat-label>
        <input matInput formControlName="author" required>
        <mat-error>Обязательное поле</mat-error>
      </mat-form-field>
    </div>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Описание</mat-label>
      <textarea matInput formControlName="description" rows="3"></textarea>
    </mat-form-field>

    <div class="form-row">
      <mat-form-field appearance="outline">
        <mat-label>Дата публикации</mat-label>
        <input matInput formControlName="publishedDate" type="date">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Жанр</mat-label>
        <input matInput formControlName="genre">
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field appearance="outline">
        <mat-label>Страницы</mat-label>
        <input matInput formControlName="pages" type="number">
      </mat-form-field>


      <mat-form-field appearance="outline">
        <mat-label>Язык</mat-label>
        <input matInput formControlName="genre">
      </mat-form-field>

    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onNoClick()">Отмена</button>
  <button mat-raised-button color="primary"
          (click)="onSubmit()"
          [disabled]="createBookForm.valid">
    Создать
  </button>
</mat-dialog-actions>
